*{
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* UOPŠTENO */
p, a, i{
    color: #000 !important;
    font-size: 18px !important;
}

ul{
    list-style-type: none !important;
}
a{
    text-decoration: none !important;
}
h1, h2, h3{
    font-weight: bold !important;
    color: rgb(25,135,84) !important;
    text-align: center !important;
}
h1{
    text-transform: uppercase !important;
}
footer p{
    margin: 0 !important;
}
li{
    margin: 0px 30px !important;
}
/* MAIN */
main{
    width: 100%;
}
/* KONTAKT */
.margina{
    margin: 0px auto !important;
}
form{
    height: 700px;
}
label{
    font-size: 18px;
}
input{
	height: 35px;
	width: 60%;
}
textarea{
	height: 250px;
	width: 60%;
}
#dugmad{
    height: 40px;
}
#dugmad input{
    width: 220px;
}
.dugme{
	width: 100px !important;
	height: 100%;
}
/* AUTOR */
.bigf{
    font-size: 22px !important;
}