*{
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* KOREN */
:root{
    --zelena: #2d5208;
    --crna: #0a0a0a;
    --bela: #e2e0d0;
}
/* UOPŠTENO */
p, a, label{
    color: var(--crna) !important;
    font-size: 18px !important;
}
h2{
    color: var(--crna) !important;
}
h1, h3, h5, .modal-title, .active, .carousel-caption a{
    color: var(--zelena) !important;
}
.kopi{
    border-top: 2px solid var(--bela);
}
i{
    font-size: 18px !important;
}
body, header, input, textarea, .modal-content, .card, .dropdown-menu{
    background-color: var(--bela) !important;
}
footer, form, .dalmo, .card a{
    background-color: var(--zelena) !important;
}
footer p, footer a, i, form label, .dalmo, .card a{
    color: var(--bela) !important;
}
.modal-header{
    border-bottom: 2px solid var(--zelena) !important;
}
.card{
    border: 3px solid var(--zelena) !important;
}
.card img{
    height: 60% !important;
}
.card-body{
    border-top: 3px solid var(--zelena);
}
/* POCETNA */
.carousel-inner, .carousel-item{
    height: 600px;
}
.carousel-caption{
    background-color: rgba(226, 224, 208, 0.95);
}
.utisak .card-body{
    border: 0px !important;
}
.utisak img{
    width: 80% !important;
    margin: 5% auto !important;
}
.carousel-caption{
    height: 100px !important;
    padding: 15px !important;
}
.dropdown-menu{
    border: 1px solid var(--crna) !important;
}
/* KONTAKT */
.margina{
    margin: 0px auto !important;
}
form{
    height: 600px;
}
.input{
	width: 60% !important;
    border-color: var(--bela) !important;
}
#dugmad{
    height: 40px;
}
#slika{
    width: 220px;
}
.dugme{
	width: 100px !important;
	height: 100%;
    color: var(--zelena);
}
/* AUTOR */
.bigf{
    font-size: 22px !important;
}
/* RISPONSIV */
@media screen and (max-width: 601px){
    #ainfo h3, #ainfo p{
        margin: 10px auto !important;
    }
    form .input{
        width: 70% !important;
    }
    #slika{
        width: 45% !important;
    }
}
@media screen and (max-width: 481px){
    .card{
        width: 70% !important;
        margin: 0 auto !important;
    }
    .carousel-caption{
        width: 60% !important;
    }
    #dugmad{
        width: 60% !important;
    }
    #slika{
        width: 35% !important;
    }
    .modal-dialog{
        width: 90% !important;
    }
}
@media screen and (max-width: 426px){
    form .input{
        width: 80% !important;
    }
    #slika{
        width: 40% !important;
    }
    .dalmo{
        width: 60% !important;
    }
}
@media screen and (max-width: 376px){
    .card{
        width: 80% !important;
        margin: 0 auto !important;
    }
    .carousel-caption{
        width: 70% !important;
    }
    #dugmad{
        width: 70% !important;
    }
    .dalmo{
        width: 70% !important;
    }
    #autor{
        width: 270px !important;
    }
}
@media screen and (max-width: 321px){
    .carousel-caption{
        width: 80% !important;
    }
    form .input{
        width: 90% !important;
    }
    .dalmo{
        width: 80% !important;
    }
    #autor{
        width: 250px !important;
    }
    #dugmad{
        width: 80% !important;
    }
}
